/* 整体滚动条 */
.xyz-scrollbar::-webkit-scrollbar {
  width: 4px; /* 滚动条宽度 */
}

/* 滚动条轨道 */
.xyz-scrollbar::-webkit-scrollbar-track {
  background: var(--color-violet-100); /* 轨道颜色 */
}

/* 滚动条手柄 */
.xyz-scrollbar::-webkit-scrollbar-thumb {
  background: var(--color-violet-200); /* 手柄颜色 */
  border-radius: 2px; /* 手柄圆角 */
}

/* 滚动条手柄悬停 */
html.dark .xyz-scrollbar::-webkit-scrollbar-thumb:hover,
.xyz-scrollbar::-webkit-scrollbar-thumb:hover {
  background: var(--color-violet-500); /* 手柄悬停颜色 */
}

html.dark .xyz-scrollbar::-webkit-scrollbar-track {
  background: var(--color-xyz-700); /* 轨道颜色 */
}

html.dark .xyz-scrollbar::-webkit-scrollbar-thumb {
  background: var(--color-xyz-900); /* 手柄颜色 */
}
